<!DOCTYPE html>
<html>
  <head>
    <title>Foosball LeaderBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/bootstrap/js/html5shiv.js"></script>
      <script src="/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <% yield_content :stylesheets %>
  </head>
  <body>
    <div class="container">
      <!-- Static navbar -->
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Foosball LeaderBoard</a>
        </div>
        <div class="navbar-collapse collapse">
          <!-- <ul class="nav navbar-nav"> -->
          <!--   <li class="active"><a href="#">Link</a></li> -->
          <!--   <li><a href="#">Link</a></li> -->
          <!--   <li><a href="#">Link</a></li> -->
          <!--   <li class="dropdown"> -->
          <!--     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a> -->
          <!--     <ul class="dropdown-menu"> -->
          <!--       <li><a href="#">Action</a></li> -->
          <!--       <li><a href="#">Another action</a></li> -->
          <!--       <li><a href="#">Something else here</a></li> -->
          <!--       <li class="divider"></li> -->
          <!--       <li class="dropdown-header">Nav header</li> -->
          <!--       <li><a href="#">Separated link</a></li> -->
          <!--       <li><a href="#">One more separated link</a></li> -->
          <!--     </ul> -->
          <!--   </li> -->
          <!-- </ul> -->
          <ul class="nav navbar-nav navbar-right">
            <!-- <li class="active"><a href="./">Default</a></li> -->
            <li><a href="/teams">Teams</a></li>
            <li><a href="/matches">Latest Maches</a></li>
            <li><a href="/match/new">New Match</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

      <!-- Main container -->
      <div class="container">
        <%if @error then %>
          <div class="alert alert-error"><%=@error%></div>
        <% end %>
        <%= yield %>
      </div>
      
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="/jquery/jquery-2.0.3.js" type="text/javascript"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="/bootstrap/js/bootstrap.js" type="text/javascript"></script>
      <% yield_content :javascripts %>
  </body>
</html>

