<h1>New Match</h1>
<form class="form-horizontal" role="form" id="new_match" action="/match/new" method="post" >
  <div class="row">
    <div class="col-md-6">
      <h2>Red Team</h2>
      <div class="form-group">
        <label for="red_defender" class="col-lg-2 control-label">Defender</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" name="red_defender" id="red_defender" placeholder="Defender">
        </div>
      </div>
      <div class="form-group">
        <label for="red_attacker" class="col-lg-2 control-label">Attacker</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" name="red_attacker" id="red_attacker" placeholder="Attacker">
        </div>
      </div>
      <div class="form-group">
        <label for="scoreRed" class="col-lg-2 control-label">Score</label>
        <div class="col-lg-10">
          <input type="number" class="form-control" name="scoreRed" id="scoreRed" placeholder="Red Score">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h2>Blue Team</h2>
      <div class="form-group">
        <label for="blue_defender" class="col-lg-2 control-label">Defender</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" name="blue_defender" id="blue_defender" placeholder="Defender">
        </div>
      </div>
      <div class="form-group">
        <label for="blue_attacker" class="col-lg-2 control-label">Attacker</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" name="blue_attacker" id="blue_attacker" placeholder="Attacker">
        </div>
      </div>
      <div class="form-group">
        <label for="scoreBlue" class="col-lg-2 control-label">Score</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" name="scoreBlue" id="scoreBlue" placeholder="Blue Score">
        </div>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-lg-offset-1 col-lg-3">
      <button type="submit" class="btn btn-lg btn-default">Save Scores</button>
    </div>
  </div>
</form>
