
<div class="row-fluid">
  
  <h1>Players</h1>
  
  <table class="table table-striped">
    <tr><th>S no</th><th>Player</th><th>Attacker</th><th>Defender</th></tr>
    
    <% players.each_with_index do |player, i| %>
      <tr>
        <td><%= player.id %></td>
        <td><%= player.name %></td>
        <td><%= player.attacker_points %></td>
        <td><%= player.defender_points %></td>
      </tr>
    <% end %>

  </table>
</div>



<%= will_paginate players %>

<div class="footer">
  <hr> <p>&copy; Rockers 2013</p>
</div>
