<div class="row-fluid">
  <h1>Teams</h1>
  <table class="table table-striped">
    <tr><th>No.</th><th>Name</th><th>Defender</th><th>Attacker</th><th>Score</th><th>Matches</th></tr>
    
    <% teams.each_with_index do |team, i| %>
      <tr>
        <td><%= team.id %></td>
        <td><%= team.name %></td>
        <td><%= team.defender.name %></td>
	<td><%= team.attacker.name %></td>
        <td><%= team.points %>
	<td><a href="/matches/<%= team.id %>" >Team No <%= team.id %> </a></td>
      </tr>
    <% end %>

  </table>
</div>
